.navbar{
    font-size: 1.5rem;
    opacity: 0.9;
    
}
.navbar-brand{
    font-size: 1.4rem;
    opacity: 0.8;
}
.logo{
    max-width: 4rem;
}
#home{
    background-image:url(../img/mountains.jpg);
    min-height: 700px;
    margin-top: 7rem;
    
}
.blue-background{
    background-color:rgba(50, 146, 166, 0.8);
    min-height: 700px;
    
}
#home h1{
    font-size: 5.5rem;
}
#home p{
    font-size: 2rem;
}
#home a{
    font-size: 2rem;
}
#home a:hover{
    background-color: #6c757d;
}
#subscribe{
    background-color:#343A40 ;
    padding-top: 2em;
    padding-bottom: 2em;
}
#subscribe input{
    
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
#subscribe button{
    background-color: #4893A2;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    color: white;
}
@media (max-width: 745px) {
    #home{
     
        min-height: 110%;
    }
    .blue-background{
        min-height: 110%;
        
    }
    #home h1{
        font-size: 3.5rem;
        padding-top: 5rem;
    }
    #home p{
        font-size: 1.5rem;
    }
}