.navbar{
    font-size: 1.5rem;
    opacity: 0.9;
}
.navbar-brand{
    font-size: 1.4rem;
    opacity: 0.8;
}
.logo{
    max-width: 4rem;
}
#home{
    background-image:url(../img/mountains.jpg);
    min-height: 100%;
    margin-top: 7.4rem;
}
.blue-shadow{
    min-height: 100%;
}
.blue-background{
    background-color:rgba(50, 146, 166, 0.8);
}

#home p{
    font-size: 1.5rem;
}
#home a{
    font-size: 1.2rem;
    border: 1px solid #6c757d;
}
#home a:hover{
    background-color: #6c757d;
}
#subscribe{
    background-color:#343A40 ;
    padding-top: 2em;
    padding-bottom: 2em;
}
#subscribe input{
    
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
#subscribe button{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    color: white;
}


.blue-color{
    color:rgba(50, 146, 166);
}
#cards .card{
    border: 1px solid rgba(50, 146, 166);
}
.blue-card {
    color:white
}

/* about section */
#about{
    background-color: #F8F9FA;
}
.why p{
    padding-bottom: 15x;
    width: 60%;
    border-bottom: 1px solid #ddd;
}
#about .fas{
    background-color: #212529;
    color: white;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: medium;
}
@media (max-width: 745px) {
    #home{
        min-height: 110%;
    }
    .blue-shadow{
        min-height: 110%;
    }


    /* abou section */
    .why p{
        padding-bottom: 15x;
        width: 80%;
        border-bottom: 1px solid #ddd;
    }
   
    
}